/* ===== MOBILE MENU ===== */

.slicknav_menu {
    top: 50%;
    right: 0;
    position: absolute;
    width: 100%;
    margin-top: -2rem;
    z-index: 2;
    *zoom: 1;
    font-size: 1.6em;
    background: transparent;
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }

    & .slicknav_icon {
        margin: .2em 0;
    }

    & .slicknav_no-text {
        margin: 0;
    }

    & .slicknav_icon-bar {
        display: block;
        width: 2em;
        height: .2em;
        background-color: #fff;
        border-radius: 1px;
    }

    &:before {
        display: table;
        content: " ";
    }

    &:after {
        display: table;
        content: " ";
        clear: both;
    }
}

.slicknav_btn {
    float: right;
    display: block;
    cursor: pointer;
    position: relative;
    margin:  0 1rem;
    padding: .6em .62em;
    line-height: 1.125em;
    text-decoration: none;
    vertical-align: middle;

    & .slicknav_icon-bar + .slicknav_icon-bar {
        margin-top: 0.4em;
    }
}

.slicknav_nav {
    top: 1.8rem;
    position: relative;
    margin:  0;
    padding: .5rem;
    clear: both;
    color: #fff;
    list-style: none;
    overflow: hidden;
    font-size: 1.3em;
    background-color: #2c233e;

    & ul {
        top: 0;
        padding: 0;
        border: none;
        display: block;
        overflow: hidden;
        margin-left: 1em;
        border-radius: 0;
        background: none;
        font-size: inherit;
        position: relative;
        line-height: normal;
    }

    & li {
        display: block;
        background-image: none;
    }

    & .slicknav_arrow {
        margin-left: .4em;
        font-size: .8em;
    }

    & .slicknav_item {
        cursor: pointer;
    }

    & .slicknav_item a {
        margin:  0;
        padding: 0;
        display: inline;
    }

    & .slicknav_row {
        display: block;
        padding: 5px 10px;

        &:hover {
            color: #fff;
            background-color: #5a4058;
        }
    }

    & a {
        color: #fff;
        display: block;
        padding: 5px 10px;
        text-align: left;
        text-decoration: none;

        &:hover {
            background-color: #5a4058;
            text-decoration: none;
        }
    }

    & .slicknav_parent-link a {
        display: inline;
        margin:  0;
        padding: 0;
    }

    & .slicknav_txtnode {
        margin-left: 15px;
    }
}

.slicknav_brand {
    color: #fff;
    float: left;
    height: 44px;
    font-size: 18px;
    padding: 7px 12px;
    line-height: 30px;
}