/* ===== CONTENT ===== */

/* NAV .navbar */

.slicknav_menu {
  display: none;
}

.navbar {
  position: relative;
  text-align: center;
  background-color: #2c233e;
}

.logo {
  z-index: 3;
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  width: 20.3rem;
  height: 7.3rem;
  float: left;

  a {
    display: inline-block;
  }
}

.schedule {
  display: inline-block;
  padding-left: 3.6rem;
  padding-right: 2rem;
  margin-top: 2rem;
  float: right;
  font-size: 1.6em;
  font-weight: 700;
  text-align: left;
  line-height: 2.5rem;
  color: #ececec;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-image: url('../img/icons/schedule.png');
}

.menu {
  display: inline-block;

  &_item {
    display: inline-block;

    &.current {
      position: relative;
      background-color: #5a4058;
      
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        height: .6rem;
        width: 100%;
        border-radius: .3rem;
        background-color: #ff0000;
      }
    }
  }

  &_link {
    display: inline-block;
    padding: 3.6rem 2.3rem;
    font-size: 1.6em;
    font-weight: 300;
    text-align: center;
    color: #fff;
  }
}

section.white-bg {
  background-color: #fff;
}

section.purple-bg {
  background-color: #5a4058;
}

/* SECTION .working */

.working {
  height: 0;
  position: relative;
  padding-top: 41.46%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../img/bg/working-bg-desk.png');

  .container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 94.5rem;
    padding-top: 5rem;
    transform: translateX(-50%);
  }
}

.claim {
  text-align: right;
  @include col(6);
  @include push(6);

  &_txt {
    font-size: 2.4em;
    font-weight: 300;
    text-align: left;
    color: #fff;

    & + & {
      margin-top: .5rem;
    }
  }
}

.title__1 {
  text-align: left;
}

.btn__prices {
  margin: 2rem 2.5rem 0 0;
  display: inline-block;
  padding: 1.2rem 0;
  width: 21.6rem;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  border: 1px solid #fff;
  color: #2c233e;
  background-color: #fafcfa;
  transition: all 300ms ease;

  &:hover {
    background-color: transparent;
    color: #fff;
  }
}

/* SECTION .why-we */

.why-we {
  padding-top: 3.5rem;
  padding-bottom: 6rem;

  &:after {
    height: 5.5rem;
    background-image: url('../img/bg/arrow1.png');
  }
}

.suggestions {
  max-width: 105rem;
  margin: 6.5rem auto 0;
}

.suggestion {
  display: inline-block;
  margin-bottom: 1rem;

  &:nth-child(even) {
    position: relative;
    top: 7.2rem;
    left: -3.2rem;
  }

  &_num {
    display: inline-block;
    padding-top: 1.5rem;
    font-size: 7.2em;
    font-weight: 500;
    color: #4d4858;
  }

  &_wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &_info {
    position: relative;
    width: 34rem;
    height: 13.5rem;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    &.odd {
      margin-left: 1rem;
      margin-right: -2.8rem;
      padding-right: 5.5rem;
      text-align: right;
      background-image: url('../img/bg/suggestion-info-bg-odd.png');
    }

    &.even {
      margin-right: 1rem;
      margin-left: -2.8rem;
      padding-left: 5.5rem;
      background-image: url('../img/bg/suggestion-info-bg-even.png');
    }
  }

  &_title {
    font-size: 2em;
    font-weight: 400;
  }

  &_txt {
    font-size: 1.8em;
    font-weight: 300;
  }

  &_brand {
    position: relative;
    display: inline-block;
    width: 15.5rem;
    height: 13.5rem;
    vertical-align: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('../img/bg/suggestion-brand-bg.png');

    img {
      position: absolute;
      @include ac();
    }
  }
}

/* SECTION .price-info */

.price-info {
  padding-top: 10rem;
  padding-bottom: 9rem;

  &:after {
    height: 6rem;
    background-image: url('../img/bg/arrow2.png');
  }
}

.price-list {
  margin-top: 4.5rem;
}

.price-item {
  position: relative;
  width: 55.5rem;
  height: 55.5rem;
  border-radius: 50%;

  &:first-child {
    float: left;
  }

  &:last-child {
    float: right;
  }

  &_core {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &__iphone {
      background-image: url('../img/bg/iphone.png');
    }

    &__ipad {
      background-image: url('../img/bg/ipad.png');
    }

    & .hexagon {
      cursor: default;
      border: none;
      background-color: transparent;

      &:after, &:before {
        border: none;
      }
    }

    & .price-item_model {
      font-size: 3.9em;
      font-weight: 400;
      color: #fff;
    }
  }

  &_petal  {

    & .hexagon:hover {
      background-color: transparent;
      
      & .price-item_model {
        color: #fff;
      }
    }

    & .price-item_model {
      font-size: 2.1em;
      font-weight: 500;
      color: #584159;
    }
  }

  &_petal , &_core {
    margin: -10rem -8.7rem;
    position: absolute;
    width: 17.5rem;
    height: 20rem;
    top: 50%;
    left: 50%;

    & .price-item_model {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      white-space: nowrap;
      transform: translate(-50%, -50%);
    }

    &__0 {
      transform: translateX(19rem);
    }

    &__60 {
      transform: rotate(60deg) translateX(19rem) rotate(-60deg);
    }

    &__120 {
      transform: rotate(120deg) translateX(19rem) rotate(-120deg);
    }

    &__180 {
      transform: rotate(180deg) translateX(19rem) rotate(-180deg);
    }

    &__240 {
      transform: rotate(240deg) translateX(19rem) rotate(-240deg);
    }

    &__300 {
      transform: rotate(300deg) translateX(19rem) rotate(-300deg);
    }
  }
}

.hexagon {
  display: inline-block;
  position: relative;
  margin: 5rem 0;
  width: 17.5rem;
  height: 10rem;
  background-color: #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.hexagon:before,
.hexagon:after {
  position: absolute;
  height: 12.35rem;
  width: 12.35rem;
  left: 2.45rem;
  content: "";
  z-index: 1;
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
}

.hexagon:before {
  top: -6.2rem;
  border-top: 1.4px solid #ffffff;
  border-right: 1.4px solid #ffffff;
}

.hexagon:after {
  bottom: -6.2rem;
  border-bottom: 1.4px solid #ffffff;
  border-left: 1.4px solid #ffffff;
}

/* SECTION .we-in-digits */

.we-in-digits {
  padding-top: 10rem;
  padding-bottom: 7rem;

  &:after {
    height: 9.1rem;
    background-image: url('../img/bg/arrow3.png');
  }
}

.advantage-list {
  max-width: 96.5rem;
  margin: 5rem auto 0;
}

.advantage-item {
  display: inline-block;
  margin-bottom: 1rem;

  &:nth-child(even) {
    position: relative;
    top: 7.2rem;
    left: -3.2rem;
  }

  &_wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &_info {
    position: relative;
    width: 34rem;
    height: 13.5rem;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &.odd {
      margin-left: 1rem;
      margin-right: -2.8rem;
      padding-right: 5.5rem;
      text-align: right;
      background-image: url('../img/bg/advantage-item-info-bg-odd.png');
    }

    &.even {
      margin-right: 1rem;
      margin-left: -2.8rem;
      padding-left: 5.5rem;
      background-image: url('../img/bg/advantage-item-info-bg-even.png');
    }
  }

  &_txt {
    font-size: 1.8em;
    font-weight: 300;

    .large {
      font-size: 1.33em;
    }
  }

  &_brand {
    position: relative;
    display: inline-block;
    width: 15.5rem;
    height: 13.5rem;
    vertical-align: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('../img/bg/suggestion-brand-bg.png');

    img {
      position: absolute;
      @include ac();
    }
  }
}

/* SECTION .consultation */

.consultation {
  padding: 12.5rem 0 5rem;

  &:after {
    height: 9.7rem;
    background-image: url('../img/bg/arrow4.png');
  }
}

.form__consult {
  margin-top: 8rem;
  text-align: center;
}

.form-group {
  display: inline-block;
  margin-right: 1rem;
  position: relative;
  vertical-align: top;

  &__name {
    z-index: 4;
  }

  &__phone {
    z-index: 3;

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      border-top: 2.5rem solid transparent;
      border-left: 2rem solid #5a4058;
      border-bottom: 2.5rem solid transparent;
    }
  }

  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 100%;
    top: 0;
    border-top: 2.5rem solid transparent;
    border-left: 2rem solid #fff;
    border-bottom: 2.5rem solid transparent;
  }
}

input[type="text"] {
  border: none;
}

.form-control {
  height: 5rem;
  width: 22.5rem;
  font-size: 1.8em;
  @include ph(#828e8d, 1em);

  &__name {
    padding-left: 1.5rem;
  }

  &__phone {
    padding-left: 3.5rem;
  }
}

.btn__consult {
  height: 5rem;
  width: 27.5rem;
  position: relative;
  display: inline-block;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: capitalize;
  color: white;

  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    border-top: 2.5rem solid transparent;
    border-left: 2rem solid #fff;
    border-bottom: 2.5rem solid transparent;
  }

  &:before {
    z-index: 2;
    content: '';
    display: inline-block;
    position: absolute;
    left: -.1rem;
    top: 0;
    border-top: 2.5rem solid transparent;
    border-left: 2rem solid #5a4058;
    border-bottom: 2.5rem solid transparent;
  }
}

/* SECTION .about-us */

.about-us {
  padding: 15rem 0 5.5rem;

  &:after {
    height: 10.4rem;
    background-image: url('../img/bg/arrow5.png');
  }
}

.description {
  position: relative;
  margin-top: 5rem;
  max-width: 114rem;
  padding-top: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../img/bg/description-bg.png');

  &_txt {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    padding: 3.5rem 3rem;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 3rem;
    color: white;
  }
}

/* SECTION .afford */

.afford {
  padding: 15rem 0 5rem;

  &:after {
    height: 10.3rem;
    background-image: url('../img/bg/arrow6.png');
  }
}

.gift-list {
  margin-top: 5rem;
}

.gift-item {
  width: 95rem;
  margin-bottom: 4.5rem;
  
  &:nth-child(odd) {
    float: left;

    .gift-item_title {
      margin-left: 2%;

      &:before {
        content: '';
        position: absolute;
        display: inline-block;
        top: 0;
        right: 100%;
        width: 0;
        height: 0;
        border-top: 7.7rem solid transparent;
        border-right: 5rem solid #c6bcbd;
        border-bottom: 7.7rem solid transparent;
      }
    }

    .gift-item_txt {
      padding: 0 8rem 0 1.5rem;
    }

    .gift-item_desc {

      &:before {
        content: '';
        position: absolute;
        display: inline-block;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 7.7rem solid transparent;
        border-right: 5rem solid #5a4058;
        border-bottom: 7.7rem solid transparent;
      }
    }
  }
  
  &:nth-child(even) {
    float: right;

    .gift-item_title {
      margin-right: 2%;

      &:before {
        content: '';
        position: absolute;
        display: inline-block;
        top: 0;
        left: 100%;
        width: 0;
        height: 0;
        border-top: 7.7rem solid transparent;
        border-left: 5rem solid #c6bcbd;
        border-bottom: 7.7rem solid transparent;
      }
    }

    .gift-item_txt {
      padding: 0 1.5rem 0 10rem;
    }

    .gift-item_desc {

      &:before {
        content: '';
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 7.7rem solid transparent;
        border-left: 5rem solid #5a4058;
        border-bottom: 7.7rem solid transparent;
      }
    }
  }

  &_desc {
    width: 68%;
    height: 15.4rem;
    position: relative;
    display: inline-block;
    vertical-align: top;
    background-color: #8d8089;
  }

  &_txt {
    top: 50%;
    left: 0;
    position: absolute;
    line-height: 2.8rem;
    font-size: 1.8em;
    font-weight: 300;
    color: white;
    transform: translateY(-50%);
  }

  &_title {
    width: 29%;
    z-index: 2;
    height: 15.4rem;
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: white;
    font-size: 3.2em;
    font-weight: 700;
    line-height: 3rem;
    background-color: #c6bcbd;

    p {
      position: absolute;
      @include ac();
    }
  }
}

/* SECTION .service */

.service {
  padding: 15rem 0 5rem;

  &:after {
    height: 10.5rem;
    background-image: url('../img/bg/arrow7.png');
  }
}

.service-list {
  min-width: 94.5rem;
  padding: 0 1.5rem;
  margin: 6rem auto 0;
  text-align: center;
}

.service-item {
  display: inline-block;
  margin-bottom: 2rem;

  &_desc {
    position: relative;
    width: 74rem;
    height: 17.7rem;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    
    &:nth-child(odd) {
      margin-right: -3.5rem;
      background-image: url('../img/bg/service-item_desc-bg.png');
    }

    &:nth-child(even) {
      margin-left: -3.5rem;
      background-image: url('../img/bg/service-item_desc-bg2.png');
    }
  }

  &_txt {
    position: absolute;
    top: 50%;
    padding: 0 5.5rem;
    line-height: 2.4rem;
    font-size: 1.6em;
    font-weight: 300;
    color: #5a4058;
    transform: translateY(-50%);
  }

  &_brand {
    width: 20.6rem;
    height: 17.9rem;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

/* SECTION .our-location */

.our-location {
  padding-top: 14rem;

  &:after {
    height: 10.3rem;
    background-image: url('../img/bg/arrow6.png');
  }
}

.tabs {
  margin-top: 4.5rem;
  text-align: center;

  &_city {
    position: relative;
    display: inline-block;

    & + & {
      margin-left: 1rem;
    }
  }

  &_city__2 {
    z-index: 4;

    &:before {
      z-index: 5;
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      right: -1.9rem;
      border-top: 3.75rem solid transparent;
      border-left: 2rem solid transparent;
      border-bottom: 3.75rem solid transparent;
    }

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      right: -2rem;
      border-top: 3.75rem solid transparent;
      border-left: 2rem solid #fff;
      border-bottom: 3.75rem solid transparent;
    }
  }

  &_city__2.active {

    &:before {
      border-left: 2rem solid #5a4058;
    }
  }

  &_link {
    position: relative;
    display: inline-block;
    height: 7.5rem;
    cursor: pointer;
    color: #5a4058;
    font-size: 2.6em;
    font-weight: 500;
    line-height: 7.5rem;
    background-color: #fff;
    border: 1px solid #fff;

    &:before {
      z-index: 2;
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      border-top: 3.75rem solid transparent;
      border-left: 2rem solid transparent;
      border-bottom: 3.75rem solid transparent;
    }

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      border-top: 3.75rem solid transparent;
      border-left: 2rem solid #fff;
      border-bottom: 3.75rem solid transparent;
    }
  }

  &_link__1 {
    width: 23rem;
    z-index: 5;

    &:before {
      right: -1.9rem;
    }

    &:after {
      right: -2.1rem;
    }
  }
  &_link__2 {
    width: 23rem;
    z-index: 4;

    &:before {
      left: -.1rem;
      border-left: 2rem solid #5a4058;
    }

    &:after {
      left: 0;
    }
  }
  &_link__3 {
    width: 27rem;
    z-index: 3;

    &:before {
      left: -.2rem;
      border-left: 2rem solid #5a4058;
    }

    &:after {
      left: 0;
    }
  }

  &_city.active {

    .tabs_link {
      color: #fff;
      background-color: transparent;

      &__1 {

        &:before {
          border-left: 2rem solid #5a4058;
        }
      }
    }
  }
}

.tabs_container {
  margin-top: 4.5rem;
  padding: 1rem;
}

.tab-loc {
  display: none;

  &.openTabContent {
    display: block;
  }

  p {
    display: inline-block;
    padding-left: 2.5rem;
    font-size: 2.4em;
    font-weight: 400;
    line-height: 3.6rem;
    color: #fcfcfc;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }

  &_address {
    background-image: url('../img/icons/i-loc.png');
  }

  &_phone {
    background-image: url('../img/icons/i-phone.png');
  }

  &_schedule {
    background-image: url('../img/icons/i-schedule.png');
  }
}

.socials {
  top: 6rem;
  z-index: 3;
  margin-top: -6rem;
  position: relative;
  text-align: center;

  &_item {
    display: inline-block;
    padding: 1.7rem;
  }
}

/* FOOTER */

.map {
  width: 100%;
  height: 53rem;
}